@using BlueDragon.Data
@using BlueDragon.Models
@inject ISnackbar Snackbar

<MudGrid>
    <MudItem xs=12 sm=6>
        <MudCard Style="border:1px solid black; padding:10px;">
            <MudCardHeader Class="cardHeader">
                <MudText Class="cardHeaderText" Inline="true">Audit Input </MudText>
                <MudSpacer />
                <MudText Class="cardHeaderLabel" Inline="true">Options:</MudText>
                <MudSwitch Class="switch-inline-block"
                           Value="@IncrementSwitchedOn"
                           Color="Color.Info"
                           UncheckedColor="Color.Warning"
                           ValueChanged="@((bool value)=>OnIncrementSwitchChanged(value))">
                    @IncrementSwitchText
                </MudSwitch>
                <MudSwitch Class="switch-inline-block"
                           Value="@AutoScanSwitchedOn"
                           Color="Color.Info"
                           UncheckedColor="Color.Warning"
                           ValueChanged="@((bool value)=>OnAutoScanSwitchChanged(value))">
                    @AutoScanSwitchText
                </MudSwitch>
            </MudCardHeader>
            <MudElement Style=@ManualScanVisibility>
                <MudElement Class="scanData" Style="display:inline;">
                    <MudText Inline="true"><strong>Name: </strong>@ItemName | </MudText>
                    <MudText Inline="true"><strong>Type: </strong>@ItemType | </MudText>
                    <MudText Inline="true"><strong>Length: </strong>@ItemLength | </MudText>
                    <MudText Inline="true"><strong>Date: </strong>@ItemDate</MudText>
                </MudElement>
                <MudDivider />
            </MudElement>
            <LineBreak />
            <MudTextField T="string" InputId="barcode"
                          ValueChanged="@(context => OnBarcodeChanged(context))"
                          Immediate="true"
                          MaxLength="13"
                          Label="Barcode"
                          Style="width:13em"
                          @ref="barcodeField">
            </MudTextField>
            <LineBreak />
            <MudElement Style=@ManualScanVisibility>
                <MudTextField T="int?" InputId="barcodeCount"
                              ValueChanged="@(count => OnBarcodeCountChanged(count))"
                              Immediate="true"
                              Label="Count"
                              Style="width:3em"
                              OnKeyDown="KeyDown"
                              @ref="barcodeCountField">
                </MudTextField>
                <LineBreak />
                <MudCardActions>
                    <MudButton Color="Color.Primary"
                               Variant="Variant.Filled"
                               Disabled="@enterButtonDisabled"
                               OnClick="()=>UpdateItemCountManual(item)"
                               @ref="btnEnter">
                        Enter
                    </MudButton>
                </MudCardActions>
            </MudElement>
        </MudCard>
    </MudItem>
    <MudItem xs=12 sm=6>
        <MudCard Style="border:1px solid black; padding:10px;">
            <MudCardHeader Class="cardHeader">
                <MudText Class="cardHeaderText" Inline="true">Scan Results</MudText>
            </MudCardHeader>
            <MudSimpleTable Style="overflow-x: auto;">
                <thead>
                    <tr>
                        @foreach (var h in headings)
                        {
                            <th>@h</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in AuditList)
                    {
                        <tr>
                            <td>
                                @row.FullBarcode
                            </td>
                            <td>
                                @row.Count
                            </td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudCard>
    </MudItem>
</MudGrid>
<div>
    <p>Test Code</p>
    <img src="/images/barcode.svg" />
</div>
@code {
    private int BarcodeCount { get; set; } = 0;
    private string ItemName { get; set; } = string.Empty;
    private string ItemType { get; set; } = string.Empty;
    private string ItemLength { get; set; } = string.Empty;
    private string ItemDate { get; set; } = "NA";
    private bool enterButtonDisabled = true;
    private MudTextField<string>? barcodeField;
    private MudTextField<int?>? barcodeCountField;
    private MudButton? btnEnter;
    private string IncrementSwitchText = "Increment";
    private string AutoScanSwitchText = "Auto Scan";
    private bool IncrementSwitchedOn = true;
    private bool AutoScanSwitchedOn = false;
    private List<BarcodeInformation> AuditList = new();
    private BarcodeInformation item = new();
    string[] headings = { "Barcode", "Count" };

    // HIDES THE MANUAL SCAN TO PREVENT ACCIDENTAL INPUT
    private string ManualScanVisibility =>
        AutoScanSwitchedOn ? "display: none;" : "display: block;";

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }

    /// <summary>
    /// Sets focus on the barcode field and clears the barcode count field after the component is first rendered.
    /// Also initializes other fields for first-time rendering.
    /// </summary>
    /// <param name="firstRender">Indicates whether this is the first render of the component.</param>
    /// <returns>A task representing the asynchronous operation.</returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // SET FOCUS ON THE BARCODE FIELD AFTER THE COMPONENT IS FIRST RENDERED
        // ALSO INITIALIZE THE OTHER FIELDS
        if (firstRender && barcodeField != null)
        {
            barcodeCountField!.Value = null;
            await barcodeCountField.SetText(null); // CLEAR THE INPUT FIELD
            await barcodeField.FocusAsync();
        }
    }

    /// <summary>
    /// Handles changes to the barcode field. If the barcode is valid, it parses the barcode data, updates item information, and optionally updates the item count.
    /// It also controls the state of the "Enter" button and manages focus and input field reset.
    /// </summary>
    /// <param name="barcode">The barcode string entered by the user.</param>
    /// <returns>A task representing the asynchronous operation.</returns>
    private async Task OnBarcodeChanged(string barcode)
    {
        ClearLabels(); // ENSURE THE BARCODE LABELS ARE CLEAR BEFORE BEGINNING
        if (!string.IsNullOrEmpty(barcodeCountField?.Text) && !string.IsNullOrEmpty(barcodeField?.Text))
            enterButtonDisabled = false;
        else
            enterButtonDisabled = true;

        if (barcode.Length == 13)
        {
            try
            {
                // BREAK DOWN THE BARCODE INFO FOR DISPLAY
                BarcodePrefix prefix = (BarcodePrefix)int.Parse(barcode.Substring(0, 1));
                BarcodeSuffix suffix = (BarcodeSuffix)int.Parse(barcode.Substring(9, 2));
                BarcodePlus length = (BarcodePlus)int.Parse(barcode.Substring(11, 2));
                string numLen = length.ToString().Substring(6);

                // PARSE BARCODE DATE DATA
                int year = int.Parse(barcode.Substring(1, 4));
                int nm = int.Parse(barcode.Substring(5, 2));
                int nd = int.Parse(barcode.Substring(7, 2));
                var date = new DateOnly(year, nm, nd);

                item = new();
                item.Prefix = prefix.ToString();
                item.Suffix = suffix.ToString();
                item.Plus = length.ToString();
                item.Date = date;
                item.FullBarcode = barcode;

                // CHECK IF AUTO INPUT IS ENABLED
                if (AutoScanSwitchedOn)
                {
                    // ADD BARCODE TO THE LIST
                    await UpdateItemCount(item);

                    // CLEAR BARCODE FIELD AND RESET THE VALUE
                    if (barcodeField != null) await ResetFields();
                }
                else
                {
                    // POULATE THE DATA FOR SCREEN
                    ItemName = prefix.ToString();
                    ItemType = suffix.ToString();
                    ItemLength = $"{numLen[..^1]}.{numLen[^1]}'"; // EXTRACT JUST THE NUMERIC PART
                    ItemDate = date.ToString();

                    // FOCUS ON THE COUNT FIELD
                    if (barcodeCountField != null)
                    {
                        await barcodeCountField.BlurAsync();
                        await barcodeCountField.FocusAsync();
                        await InvokeAsync(StateHasChanged); // ENSURE UI REFRESH
                    }
                }
            }
            catch (FormatException ex)
            {
                OnFormattingError(ex.Message);
            }
            catch (ArgumentOutOfRangeException ex)
            {
                OnFormattingError(ex.Message);
            }
        }
    }

    /// <summary>
    /// Handles changes to the barcode count field, updates the internal barcode count, and enables or disables the "Enter" button based on the input values.
    /// </summary>
    /// <param name="count">The new count value entered by the user.</param>
    private void OnBarcodeCountChanged(int? count)
    {
        BarcodeCount = count ?? 0;
        if (count.HasValue && count > 0 && !string.IsNullOrEmpty(barcodeCountField?.Text) && !string.IsNullOrEmpty(barcodeField?.Text))
            enterButtonDisabled = false;
        else
            enterButtonDisabled = true;
    }

    /// <summary>
    /// Updates the count of a barcode item in the audit list based on the increment switch.
    /// If the item does not exist, it adds the item with the appropriate count. If the item's count reaches zero, it is removed from the list.
    /// </summary>
    /// <param name="item">The barcode item whose count is to be updated.</param>
    /// <returns>A task representing the asynchronous operation.</returns>
    public async Task UpdateItemCount(BarcodeInformation item)
    {
        var itemExists = AuditList.Find(i => i.FullBarcode == item.FullBarcode);
        if (IncrementSwitchedOn)
        {
            if (itemExists == null)
            {
                item.Count = 1;
                AuditList.Add(item);
            }
            else
                itemExists.Count++;
        }
        else
        {
            if (itemExists == null)
            {
                item.Count = 0;
                AuditList.Add(item);
            }
            else if (itemExists.Count > -1)
                itemExists.Count--;
        }
        // IF ITEMS REACH 0, REMOVE FROM LIST
        if (itemExists != null && itemExists.Count == 0)
            AuditList.Remove(itemExists);

        await Task.CompletedTask;
    }

    /// <summary>
    /// Manually updates the count of a barcode item in the audit list based on the increment switch and the current barcode count.
    /// Adds or updates the item if it exists, or displays a warning if the barcode is invalid or if decrement mode is active without the item existing.
    /// If the item count reaches zero or less, it is removed from the list.
    /// </summary>
    /// <param name="item">The barcode item to be updated.</param>
    /// <returns>A task representing the asynchronous operation.</returns>
    public async Task UpdateItemCountManual(BarcodeInformation item)
    {
        if (item?.FullBarcode?.Length == 13)
        {
            var itemExists = AuditList.Find(i => i.FullBarcode == item.FullBarcode);
            if (IncrementSwitchedOn)
            {
                if (itemExists == null)
                {
                    item.Count = BarcodeCount;
                    AuditList.Add(item);
                }
                else
                {
                    itemExists.Count += BarcodeCount;
                }
            }
            else
            {
                if (itemExists == null)
                {
                    Snackbar!.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
                    Snackbar?.Add("You must swich to 'Increment' to add.", Severity.Warning);
                }
                else if (itemExists != null && itemExists.Count > 0)
                {
                    itemExists.Count -= BarcodeCount;
                }
            }
            // IF ITEMS REACH 0 OR LESS, REMOVE FROM LIST
            if (itemExists != null && itemExists.Count <= 0)
                AuditList.Remove(itemExists);

            await ResetFields();
        }
        else
        {
            Snackbar!.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
            Snackbar?.Add("You have entrd an invalid barcode. Please try again.", Severity.Error);
        }
        await Task.CompletedTask;
    }

    /// <summary>
    /// Disables the barcode count field by clearing its value, setting the item date to "NA", disabling the "Enter" button, and refocusing on the barcode input field.
    /// </summary>
    /// <returns>A task representing the asynchronous operation.</returns>
    private async Task DisableCountField()
    {
        ItemDate = "NA";
        barcodeCountField!.Value = null;
        await barcodeCountField.SetText(string.Empty);
        enterButtonDisabled = true;
        await barcodeField!.FocusAsync();
    }

    /// <summary>
    /// Handles the change in the increment switch state, updating the internal state to either "Increment" or "Decrement" mode, clearing labels, and resetting the input fields.
    /// </summary>
    /// <param name="value">The new value of the increment switch, indicating whether it's in "Increment" (true) or "Decrement" (false) mode.</param>
    private async void OnIncrementSwitchChanged(bool value)
    {
        ClearLabels();
        IncrementSwitchedOn = value;
        IncrementSwitchText = value ? "Increment" : "Decrement";
        await ResetFields();
    }

    /// <summary>
    /// Handles the change in the auto-scan switch state, updating the internal state to either "Auto Scan" or "Manual Input" mode, clearing labels, and resetting the input fields.
    /// </summary>
    /// <param name="value">The new value of the auto-scan switch, indicating whether it's in "Auto Scan" (true) or "Manual Input" (false) mode.</param>
    private async void OnAutoScanSwitchChanged(bool value)
    {
        ClearLabels();
        AutoScanSwitchedOn = value;
        AutoScanSwitchText = value ? "Auto Scan" : "Manual Input";
        await ResetFields();
    }

    /// <summary>
    /// Clears the item labels by resetting the item name, type, and length to empty strings, and setting the item date to "NA".
    /// Triggers a UI refresh to reflect the changes.
    /// </summary>
    private void ClearLabels()
    {
        // RESET THE LABEL TEXT
        ItemName = string.Empty;
        ItemType = string.Empty;
        ItemLength = string.Empty;
        ItemDate = "NA";
        InvokeAsync(StateHasChanged); // ENSURE UI REFRESH
    }

    /// <summary>
    /// Resets the input fields and barcode item by clearing the values, disabling the count field, and refocusing the barcode input field.
    /// Ensures the UI is refreshed to reflect the changes.
    /// </summary>
    /// <returns>A task representing the asynchronous operation.</returns>
    private async Task ResetFields()
    {
        item = new(); // CLEAR THE ITEM
        await DisableCountField(); // ENSURE COUNT FIELD IS EMPTIED
        barcodeField!.Value = string.Empty; // CLEAR THE INPUT VALUE DIRECTLY (MUDBLAZOR ISSUE)
        await barcodeField.SetText(string.Empty); // CLEAR THE INPUT FIELD
        await barcodeField.BlurAsync(); // FORCE THE FIELD TO LOSE FOCUS
        await barcodeField.FocusAsync(); // OPTIONALLY REFOCUS THE INPUT FIELD
        await InvokeAsync(StateHasChanged); // ENSURE UI REFRESH
    }

    /// <summary>
    /// Handles formatting errors by disabling the count field, displaying an error message via a snackbar, and logging the error message to the console.
    /// </summary>
    /// <param name="msg">The error message to log and display.</param>
    private async void OnFormattingError(string msg)
    {
        await DisableCountField();
        Snackbar!.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar?.Add("You have entered an invalid barcode. Please try again.", Severity.Error);
        Console.WriteLine(msg);
    }

    /// <summary>
    /// Handles the "Enter" key press event. When the "Enter" key is pressed, it triggers the manual update of the item count.
    /// Ensures the UI is refreshed after the action.
    /// </summary>
    /// <param name="k">The keyboard event arguments.</param>
    private async void KeyDown(KeyboardEventArgs k)
    {
        if (k.Key == "Enter")
            await UpdateItemCountManual(item);
        await InvokeAsync(StateHasChanged); // ENSURE UI REFRESH
    }
}
