@page "/hardwares"
@using BlueDragon.Data;
@using BlueDragon.Services;
@using System.Linq;
@using BlueDragon.Models;
@attribute [Authorize]

@inject IDialogService DialogService

<PageTitle>Hardwares</PageTitle>

<AuthorizeView Roles="Admin, Manager" Context="user">
    <MudButton OnClick="(()=>UpsertHardware(new Hardware()))"
               Size="Size.Small"
               Class="mb-2 mud-success-text"
               StartIcon="@Icons.Material.Filled.Add">
        Add New Item
    </MudButton>
</AuthorizeView>
<MudButton OnClick="(()=>ShowBarcodeDialog())"
           Size="Size.Small"
           Class="mb-2"
           StartIcon="@Icons.Material.Filled.QrCodeScanner">
    Lookup Scan
</MudButton>
<MudIconButton OnClick="(()=>GetPageInfo())"
               Size="Size.Small"
               Class="mb-2"
               Icon="@Icons.Material.Filled.Help"
               Color="Color.Info">
</MudIconButton>
<MudDataGrid Items="@hardwares" QuickFilter="_quickFilter" Dense Filterable Hideable Hover Striped>
    <ToolBarContent>
        <MudText Typo="Typo.h6">Hardware</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString"
                      Placeholder="Search Hardware"
                      Adornment="Adornment.Start"
                      Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.Location" />
        <PropertyColumn Property="x => x.InUse" Title="In Use" />
        <PropertyColumn Property="x => x.OnHand" Title="Available" />
        <PropertyColumn Property="x => x.Hid" Hidden="true" />
        <PropertyColumn Property="x => x.BrandName" Hidden="true" />
        <PropertyColumn Property="x => x.ModelNumber" Hidden="true" />
        <PropertyColumn Property="x => x.SerialNumber" Hidden="true" />
        <PropertyColumn Property="x => x.Description" Hidden="true" />
        <PropertyColumn Property="x => x.Notes" Hidden="true" />
        <TemplateColumn CellStyle="width:118px;" Filterable="false">
            <CellTemplate>
                <MudIconButton Color="Color.Tertiary" Icon="@Icons.Material.Filled.OpenInNew" Size="Size.Small" OnClick="(()=>ViewDetails(context.Item))" />
                <MudIconButton Color="Color.Info" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="(()=>UpsertHardware(context.Item))" />
                <AuthorizeView Roles="Admin, Manager" Context="user">
                    <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick="(()=>DeleteHardware(context.Item))" />
                </AuthorizeView>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager />
    </PagerContent>
    <NoRecordsContent>
        <div>No Records Have Been Saved For This List</div>
    </NoRecordsContent>
</MudDataGrid>
<MudDialog @bind-Visible="upsertVisible" Options="dialogOptions" DefaultFocus="DefaultFocus.LastChild">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Add Hardware
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@hardwareModel" OnValidSubmit="SaveHardware">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudGrid Spacing="1">
                        <MudItem xs="6">
                            <MudTextField @bind-Value="hardwareModel.Name"
                                          Label="Name"
                                          HelperText="Max. 50 characters"
                                          For="@(() => hardwareModel.Name)"
                                          Required="true"
                                          RequiredError="A Name is required!" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect T="string" @bind-Value="hardwareModel.BrandName"
                                       Label="Brand"
                                       HelperText="Select from dropdown"
                                       For="@(() => hardwareModel.BrandName)"
                                       Dense="true"
                                       Required="true"
                                       RequiredError="A Brand Name must be selected!">
                                @foreach (LuBrandName n in brands)
                                {
                                    <MudSelectItem Value="n.Name" />
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField @bind-Value="hardwareModel.ModelNumber"
                                          Label="Model #"
                                          HelperText="Enter model as shown"
                                          For="@(() => hardwareModel.ModelNumber)"
                                          Required="false" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField @bind-Value="hardwareModel.SerialNumber"
                                          Label="Serial #"
                                          HelperText="Enter serial as shown"
                                          For="@(() => hardwareModel.SerialNumber)"
                                          Required="false" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect T="string" @bind-Value="hardwareModel.Location"
                                       Label="Location"
                                       HelperText="Select from dropdown"
                                       For="@(() => hardwareModel.Location)"
                                       Dense="true"
                                       Required="true"
                                       RequiredError="A Location must be selected!">
                                @foreach (var n in (LocationUsed[])Enum.GetValues(typeof(LocationUsed)))
                                {
                                    <MudSelectItem Value=n.ToString() />
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField @bind-Value="hardwareModel.InUse"
                                          Label="In-service count"
                                          For="@(() => hardwareModel.InUse)"
                                          Required="false" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField @bind-Value="hardwareModel.OnHand"
                                          Label="On-hand count"
                                          For="@(() => hardwareModel.OnHand)"
                                          Required="false" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField @bind-Value="hardwareModel.Description"
                                          Label="Description"
                                          HelperText="Description of component"
                                          For="@(() => hardwareModel.Description)"
                                          Required="false" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField @bind-Value="hardwareModel.Notes"
                                          Label="Notes"
                                          HelperText="Additional notes"
                                          For="@(() => hardwareModel.Notes)"
                                          Required="false" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions>
                    <MudButtonGroup Class="mx-auto" Color="Color.Primary" Variant="Variant.Filled">
                        <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Save">Save Hardware</MudButton>
                        <MudButton OnClick="Close" StartIcon="@Icons.Material.Filled.Close">Close</MudButton>
                    </MudButtonGroup>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </DialogContent>
</MudDialog>
<MudDialog @bind-Visible="detailVisible" Options="dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Hardware Details
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudCard>
            <MudCardContent>
                <table class="detailTable">
                    <tbody>
                        <tr>
                            <td width="125px"><label for="@hardwareModel.Name">Name</label></td>
                            <td><MudText>@hardwareModel.Name</MudText></td>
                        </tr>
                        <tr>
                            <td><label for="@hardwareModel.BrandName">Brand</label></td>
                            <td><MudText>@hardwareModel.BrandName</MudText></td>
                        </tr>
                        <tr>
                            <td><label for="@hardwareModel.ModelNumber">Model Number</label></td>
                            <td><MudText>@hardwareModel.ModelNumber</MudText></td>
                        </tr>
                        <tr>
                            <td><label for="@hardwareModel.SerialNumber">Serial Number</label></td>
                            <td><MudText>@hardwareModel.SerialNumber</MudText></td>
                        </tr>
                        <tr>
                            <td><label for="@hardwareModel.Location">Location</label></td>
                            <td><MudText>@hardwareModel.Location</MudText></td>
                        </tr>
                        <tr>
                            <td><label for="@hardwareModel.Description">Description</label></td>
                            <td><MudText>@hardwareModel.Description</MudText></td>
                        </tr>
                        <tr>
                            <td><label for="@hardwareModel.Notes">Notes</label></td>
                            <td><MudText>@hardwareModel.Notes</MudText></td>
                        </tr>
                        <tr>
                            <td><label for="@hardwareModel.InUse">Used</label></td>
                            <td><MudText>@hardwareModel.InUse of @(hardwareModel.InUse + hardwareModel.OnHand)</MudText></td>
                        </tr>
                    </tbody>
                </table>
            </MudCardContent>
            <MudCardActions>
                <MudButtonGroup Class="mx-auto" Color="Color.Primary" Variant="Variant.Filled">
                    <MudButton OnClick="Close" StartIcon="@Icons.Material.Filled.Close">Close</MudButton>
                </MudButtonGroup>
            </MudCardActions>
        </MudCard>
    </DialogContent>
</MudDialog>
<MudDialog @bind-Visible="barcodeDialogVisible" Options="compactDialogOptions" Class="barcodeLookupHeader">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Barcode Lookup
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="baseModel">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField @bind-Value="baseModel.NumberString"
                                  MaxLength="13"
                                  Label="Barcode"
                                  HelperText="ex: 2202202231111"
                                  For="@(()=>baseModel.NumberString)"
                                  Required="true"
                                  RequiredError="Please fill out this field."
                                  Immediate="true"
                                  OnKeyUp="()=>BarcodeLookupChanged(baseModel.NumberString)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButtonGroup Class="mx-auto" Color="Color.Primary" Variant="Variant.Filled">
                        <MudButton OnClick="Close" StartIcon="@Icons.Material.Filled.Close">Close</MudButton>
                    </MudButtonGroup>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </DialogContent>
</MudDialog>
<MudDialog @bind-Visible="pageInfoVisible" Options="largeDialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Help With This Page
        </MudText>
    </TitleContent>
</MudDialog>

@code {
    private string? _searchString;
    private Func<Hardware, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Location!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.BrandName!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.ModelNumber!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.SerialNumber!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Description!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if ($"{x.BrandName} {x.ModelNumber}".Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    };
}